<html>
  <head>
    <title>Sample Web Form</title>
  </head>
<body>

<h2>Fill Out This Form</h2>

<form action="/hello" method="POST">
  <div class="form-group">
    <label for="greeting">Greeting</label>
    <input type="text" name="greeting" class="form-control">
  </div>

  <div class="form-group">
    <label for="greeting">Name</label>
    <input type="text" name="name" class="form-control">
  </div>

  <input type="submit" class="btn btn-success" value="Submit">
</form>

</body>
</html>